@font-face {
    font-family: BeVietNamPro;
    src: url(fonts/BeVietnamPro-Regular.ttf);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:  BeVietNamPro;
    display: flex;
}

.container {
    flex: 1;
    display: flex;
    height: 100%;
}

.content {
    display: inline-block;
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    border: 1px solid #000; /* Optional border for visualization */
    margin: 5px; /* Optional margin between boxes */
    text-align: center;
    border-radius: 5px;
}


.box {
    border: 1px solid;
    width: max-content;
    margin: 10px;
    float: left;
    border-radius: 5px;
}


#outer {
    margin-right: 50px;
    margin-left: 50px;
    height: 100%;
}
/* Progress box (sidebar) styling */
#outer {
    width: 300px; /* Set the width of the progress box as needed */
    /* Additional styles for the progress box */
}

/* Questions box (content) styling */
.choice {
    flex: 1;
    margin-bottom: 50px;
    /* Additional styles for the questions box */
}

hr.new4 {
    border: 1px solid #4e73df;
  }