<!DOCTYPE html>
<html lang="en">

<head>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Border Utilities</title>

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
        

    <!-- Custom styles for this template-->
    <style>
        .container-fluid {
            width: 100%;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        .row {
            width: 80%; /* Adjust the width value as needed for your layout */
            padding-top: 20px;
        }
        .h3.mb-1.text-gray-800 {
            margin-bottom: 20px; /* Adjust the margin-bottom value as needed */
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
        }

        h1 {
            color: #333;
        }

        form {
        width: 100%;; /* Adjust the max-width value as needed for your layout */
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        label {
            display: block;
            margin-bottom: 8px;
            color: #333;
        }

        input, select {
            margin-bottom: 15px;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            padding: 12px;
            font-size: 16px;
            cursor: pointer;
            background-color: #4caf50;
            color: #fff;
            border: none;
            border-radius: 4px;
        }
    </style>

    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">TestGen</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:5000/dashboard_admin.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Search Questions</span>
                </a>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Create Tests</span>
                </a>
            </li>

            <!-- Nav Item - Search -->
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:5000/dashboard_admin_search.html">
                    <i class="fa fa-braille"></i>
                    <span>Search Tests</span>
                </a>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:5000/admin_stats.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Student Stats</span></a>
            </li>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <!-- <form
                    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form> -->

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                            aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                        placeholder="Search for..." aria-label="Search"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!-- get name of user -->
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="username"></span>
                            <img class="img-profile rounded-circle"
                                src="/static/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="http://localhost:5000/profile_admin.html">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- Main Content -->
            
                <div class="container-fluid ">
                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-lg-3"> </div>
                        <div class="col-lg-6">
                            <form id="testForm">
                                <h3 class="mb-1 text-gray-800">Create Test</h3>
                                <div class="form-group">
                                    <label for="numQuestions">Test title:</label>
                                    <input type="text" id="title" name="title" class="form-control" minlength="4" required>
                                </div>
                                <div class="form-group">
                                    <label for="numQuestions">Number of Questions:</label>
                                    <input type="number" id="numQuestions" name="numQuestions" class="form-control" required min="1">
                                </div>
                
                                <!-- Subject: "Unknown", "Biochemistry", "Surgery", "Ophthalmology",
                                "Physiology", "Gynaecology & Obstetrics", "Anaesthesia", "Psychiatry",
                                "Microbiology", "Medicine", "Pharmacology", "Dental", "ENT",
                                "Forensic Medicine", "Pediatrics", "Orthopaedics", "Radiology",
                                "Pathology", "Skin", "Anatomy", "Social & Preventive Medicine" -->
                                <div class="form-group">
                                    <label for="subject">Subject of the Test:</label>
                                    <select type="text" id="subject" name="subject" class="form-control" required>
                                        <option value="Unknown">Unknown</option>
                                        <option value="Biochemistry">Biochemistry</option>
                                        <option value="Surgery">Surgery</option>
                                        <option value="Ophthalmology">Ophthalmology</option>
                                        <option value="Physiology">Physiology</option>
                                        <option value="Gynaecology & Obstetrics">Gynaecology & Obstetrics</option>
                                        <option value="Anaesthesia">Anaesthesia</option>
                                        <option value="Psychiatry">Psychiatry</option>
                                        <option value="Microbiology">Microbiology</option>
                                        <option value="Medicine">Medicine</option>
                                        <option value="Pharmacology">Pharmacology</option>
                                        <option value="Dental">Dental</option>
                                        <option value="ENT">ENT</option>
                                        <option value="Forensic Medicine">Forensic Medicine</option>
                                        <option value="Pediatrics">Pediatrics</option>
                                        <option value="Orthopaedics">Orthopaedics</option>
                                        <option value="Radiology">Radiology</option>
                                        <option value="Pathology">Pathology</option>
                                        <option value="Skin">Skin</option>
                                        <option value="Anatomy">Anatomy</option>
                                        <option value="Social & Preventive Medicine">Social & Preventive Medicine</option>
                                    </select>
                                </div>
                
                                <div class="form-group">
                                    <label for="difficulty">Select Difficulty Level:</label>
                                    <select id="difficulty" name="difficulty" class="form-control" required>
                                        <option value="Easy">Easy</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Hard">Hard</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-primary" onclick="receiveTestInfo()">Create Test</button>
                            </form>
                        </div>
                        <div class="col-lg-3"> </div>
                    </div>
                    <!-- /.row -->
                </div>
            
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; TestGen2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="http://localhost:5000/">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>
    <!-- <script src="dashboard_dynamic.js"></script> -->
    <script src="/static/createtest.js"></script>
</body>

</html>