<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/test_interface.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Border Utilities</title>

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <style>
        .h3.mb-1.text-gray-800 {
            margin-bottom: 20px; /* Adjust the margin-bottom value as needed */
        }

        .row {
            padding-top: 20px; /* Adjust the padding-top value as needed */
        }
    </style>

    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
    <!--Progress box-->
    <div class="container" style="padding-top: 100px;">
        <div class="outerbox" id="outer">
        </div>
        <div class="answerbox" id="answer">
        </div>
    </div>
    
    <!--Questions box-->
    <div id="questionbox" style="padding-top: 100px; padding-bottom: 100px">
        <!--Title-->
        <h1>Exam questions</h1>
        <p>Final Exam due August 4, 2023 11:00 +7</p>
        <hr>

        <script src = "/static/test_view.js"></script>
        <script>window.onload = loadQuestion;</script>
    </div>
</body>
</html>